%h1
  = @card_sort.name
  %small
    &nbsp;&mdash;&nbsp;
    A Card Sort Study

= simple_form_for @card_sort_result do |f|
  %p
    %a{ data: { toggle: 'collapse' }, href: '#candidateDetails', aria: { expanded: :false, controls: 'candidateDetails' } }
      Candidate Details
      &nbsp;
      %i.fa.fa-caret-right

  #candidateDetails.collapse
    .allCandidates
      - if f.object.card_sort_candidates && f.object.card_sort_candidates.count > 0
        %label Candidates
        - f.object.card_sort_candidates.each do |card|
          = f.input :card_sort_candidates, as: :string, input_html: { name: 'card_sort_result[card_sort_candidates][]', class: 'candidate' }, label: false
      - else
        = f.input :card_sort_candidates, as: :string, input_html: { name: 'card_sort_result[card_sort_candidates][]', class: 'candidate' }, label: 'Candidates'
    .form-group
      %button.addCandidate.btn.btn-success{ type: 'button' }
        %i.fa.fa-plus &nbsp;
        Add Candidate

  = f.input :card_sort_id, as: :hidden, input_html: { value: @card_sort.id }
  = f.input :result, as: :hidden, input_html: { id: 'result' }
  .form-group
    %button.btn.btn-danger{ type: "button", id: 'create-card-sort', disabled: true }
      Submit Card Sort Results

#actions.btn-group
  %button#setGroup.btn.btn-primary{ type: "button", disabled: true }
    %i.fa.fa-object-group &nbsp;
    Group
  %button#addGroup.btn.btn-primary{ type: "button" }
    %i.fa.fa-plus &nbsp;
    Group

#cardSortContainer
  - @card_sort.cards.each do |card|
    .card
      = card["label"]
      %i.fa.fa-clone

.notification.alert.alert-info
  %p
    Click on the card(s) you wish to group. You can then click &nbsp;
    %i.fa.fa-object-group 
    &nbsp;Group to group them, or you can add a group by clicking &nbsp;
    %i.fa.fa-plus 
    &nbsp;Group, then clicking in the item block to add them.
  %p
    You can also group groups by click the check mark &nbsp;
    %i.fa.fa-check 
    to select the group, then click the group you wish to contain the selected group.
  %p
    To discard or reset cards, you can destroy the group by clicking the remove button &nbsp;
    %i.fa.fa-remove 
    \. The cards and groups will immediately re-add themselves to the global container and the parent group will be destroyed.
  %p
    In addition, you can select items inside the group and click the outside area of the screen to move the contents to there. Cloned items &nbsp;
    %i.fa.fa-clone 
    are immediately destroyed if their parent is destroyed or they have been attempted to be re-added to the global container.









