%h1 Listing users

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Email
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }
