%h1 Listing Card Sort Results

- card_sort_results = Hash.new{ |h, k| h[k] = [] }
- @card_sort_results.each { |csr| card_sort_results[csr.card_sort.id] << csr }

- card_sort_results.each do |key, csr|
  .row
    .col-xs-12
      %a{ href: "#cs_#{key}", data: { toggle: "collapse" }, aria: { expanded: false, controls: "cs_#{key}" } }
        = csr.first.card_sort.name
        &nbsp;
        %i.fa.fa-caret-down

    .col-xs-12.collapse{ id: "cs_#{key}" }
      - card_sort_results[key].each do |result|
        .row
          .col-xs-6
            = link_to "Results: #{result.card_sort_candidates.join ", "}", result